.Search {
    height: 100%;
    min-height: 100vh;
    background-color: #181818;
}

.Search .result-table {
    height: 100%;
    max-height: 80vh;
    overflow-y: auto;
    padding-bottom: 75px;
    top: 0;
}

.Search .play-all-button:hover {
    transform: scale(1.1);
    transition: all .3s ease;
}

.Search .dropdown button:focus,
.Search .dropdown:focus {
    outline: 0px !important;
    -webkit-appearance: none;
    box-shadow: none !important;
}

.Search .dropdown .dropdown-toggle {
    color: rgb(235, 235, 235);
    font-size: 1.5rem;
}

.Search .dropdown-menu .dropdown-item:focus {
    background-color: #4a9bd0;
}

.Search #dropdownMenuButtonSearchTableAction:after {
    display: none;
}